.banner {
  /* background-image: linear-gradient(45deg, #9b2fae, #f884b1); */
  /*color: white;*/
  /* text-align: center; */
  height: 85vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  /*background-size: cover !important;*/
  /*display: flex;*/
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 60px;
  /* font-weight: bold; */
  /* text-shadow: 0px 1px rgba(0, 0, 0, 0.2); */
  color: #0B25FB;
  margin: 0;
  padding: 0;
}
.banner h2 {
  font-size: 60px;
  color: black;
  margin: 0;
  padding: 0;
}

.banner p {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: #666666;
  margin-bottom: 30px;
  /*text-transform: uppercase;*/

}

.banner-content {
  padding: 150px 119px;
}


.args-container{
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.args-element {
  padding: 60px 100px;
}

.args-element h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.args-element p {
  font-family: 'Open Sans', sans-serif;
}
.args-icon {
  font-size: 70px;
}


.sponsorship-code-input {
  /*padding: 10px;*/
  /*margin-right: 5px;*/
}

.sponsorship-code-input input {
  /*height: 40px;*/
  /*font-size: 20px;*/
  /*padding-left: 5px;*/
  /*color: #999;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*paddings: 25px 0px;*/
}

.svg-wave {
  fill: white;
}


/*blue #39D4D8       rgb(57,212,216)*/
/*purple #201685.   rgb(32,22,133)*/

.fcASVK {
    display: -webkit-box;
    display: -webkit-flex;

    display: flex;


    flex-direction: column;
    background-color:#0f015e;
    background-image: linear-gradient(to bottom,  #000e7f,   #0B25FB);
    /* background-image: linear-gradient(to bottom,#0f015e,  rgb(4, 21, 167)); */

}

.khbfDq {
    position: relative;

    transform: rotate(180deg);

    flex: none;
    z-index: 1;
    height: 80px;
    width: 100%;
    display: inline-block;
    /* color: #fff; */
    pointer-events: none;
    /* stroke: #ebebeb; */
    }

    .dWdeUv {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 60px auto 120px auto;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }

.kfUdhq {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: inherit;
    fill: white;
    pointer-events: none;
  }

  .eUMwyW {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: inherit;
    fill: white;
    pointer-events: none;
}

kyEuTx {
  min-height: 400px;
  position: relative;
  /* background-color: #fff; */
  /* border-bottom: 1px solid #ebebeb; */
}

kyEuTx {
  min-height: 400px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.gDxRUg {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  /* background-color: #fff; */
  z-index: 2;
}

.dBTkFg {
  position: relative;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  z-index: 1;
  height: 80px;
  width: 100%;
  top: -80px;
  display: inline-block;
  color: #fff;
  pointer-events: none;
  /* stroke: #ebebeb; */
}

.eUMwyW {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: inherit;
  fill: currentColor;
  pointer-events: none;
}
