
.app {
  display: flex;
}

.main {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  padding: 10px;
  margin-right: 5px;
}

.search input {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  color: #999;
  width: 100%;
}

.places {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}

.filters {
  display: flex;
}

.slider {
  position: fixed;
  bottom: 3vh;
  width: 29vw;
  left: 26vw;
}


.rc-slider-rail {
  background: yellow !important;

}

.rc-slider-track {
  background: blue !important;
}

.rc-slider-handle {
  background: green !important;
  border-color: purple !important;
}
